.input-node{
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1rem 0;
    gap: 1rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3.8px 63.38px 0px #0000000D;
    border: 2px solid #00000014
}

.node-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    font-weight: 600;
}

.node-header h3{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.2rem;
    color: #000000;
}

.node-header p{
    content: "";
    background-color: gray;   
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: block;
}

.node-description{
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #EEF4FF;
    color: #666666;
}

.node-form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.engine-node-form{
    padding: 0rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem ;
}

.engine-node-form label {
    font-weight: 400;
    font-size: 1rem;
}

.engine-node-form input{
    border: 1px solid #66666659;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.node-form h4{
    font-size: 1rem;
    font-weight: 500;
}

.node-form input {
    border: 1px solid #66666659;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.node-form textarea{
    border: 1px solid #66666659;
    padding: 0.8rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    min-width: 20rem;
    max-width: fit-content;
    min-height: 10rem;
    max-height: fit-content;
}

.node-footer{
    color: #666666;
    text-align: right;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.input-footer {
    display: flex;
    flex-direction: row-reverse;
}
    