main{
  height: 100vh;
  background-color: #e8e8e8;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 1rem 1.5rem;
  align-items: center;
  border-bottom: 2px solid #00000012
}

.nav-btns{
  display: flex;
  gap: 1rem;
}

.nav-btns button{
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 900;
  color: #ffffff;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.deploy-btn{
  background-color: #aba4a4;
  transition: all 0.2s ease-in-out;
}

.deploy-btn:hover{
  background-color: #626060;
  transition: all 0.2s ease-in-out;
}

.run-btn{
  background-color: #44924C;
  transition: all 0.2s ease-in-out;
}

.run-btn:hover{
  background-color: #2b6b2b;
  transition: all 0.2s ease-in-out;
}

section{
  width: 100%;
  height: calc(100vh - 4.6rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  
}

section button {
  border: none;
  position: absolute;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  background-color: #2563EB;
  cursor: pointer;
  color: #ffffff;
  bottom: 10%;
  right: 2%;
}

.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

 
.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}
